<%- include('../layout/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../layout/navigation.ejs') %>

    <main>
        <% if (productInfo.length > 0) { %>
            <div class="grid">
                <% for (let product of productInfo) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h4 class="text-center"><%= product.title %></h4>
                        </header>
                        <div class="card__image">
                            <img src="<%= product.img_url %>" alt="<%= product.title %>">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price"><%= product.price %></h2>
                            <p class="product__description"><%= product.desc %></p>
                        </div>
                        <div class="card__actions">
                            <a href="product/details/<%= product.productId %>" class="btn btn-primary btn-sm">Details</a>
                            <a href="/cart/<%= product.productId %>" class="btn btn-info btn-sm">Add to Cart</a>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include('../layout/end.ejs') %>